<%= form_with url: "/knowledgebase", method: :post do |form| %>

<header class="flex justify-between">
    <input type="text" name="title" class="block w-full border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black mb-8 mr-8 text-3xl" placeholder="Title..." value="">
    <div>
        <%= form.submit "Create", class:"bg-green-400 hover:bg-green-300 focus:outline-none text-white py-2 px-4 rounded-md size-xl" %>
    </div>
</header>
<%= form.rich_text_area :content %>

<% end %>